body {
  background-color: #121212;
  color: #fefefe;
}

h1 {
  font-family: 'Amaranth', serif;
  font-size: 3rem;
}

h2,
h3 {
  font-family: 'Montserrat', sans-serif;
}

.App {
  text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Amaranth&family=Montserrat:wght@200&display=swap');
